<!--第二步  start-->
<div id="secondStep" class="content pb32">
    <div class="launch-tit">
        <h2 class="tc">
            说说你的故事吧~
        </h2>

        <div class="work-tips">
            <i></i>
            <!--帮助弹窗 s-->
            <div class="tips-pop" style="display:none;">
                <p class="tips">这样写可以更好的众筹</p>

                <p>
                    1.尽量告诉大家你的全部故事<br>
                    2.你是谁<br>
                    3.为什么众筹<br>
                    4.钱将如何使用<br>
                    5.对于你或他人的意义是什么
                </p>

                <p class="notice">注意：复制粘贴文案，建议先将文案粘贴在txt文本文件中，再复制粘贴到这里。</p>
            </div>
            <!--帮助弹窗 s/-->
        </div>
    </div>
    <div class="launch-details-con">
        <form action="" id="secondStepForm">
            <div class="launch-area vali-item">
                        <textarea name="desc" class="vali-yes vali-required" minlength="16" maxlength="10000"
                                  placeholder="尽量告诉大家你的故事，越详细越好。（你是谁，为什么众筹，钱将如何使用，以及意义是什么）并告诉大家为什么要支持你！加油~"></textarea>
                <span class="vali-error error"></span>
            </div>
            <div class="update-picture clearfix">
                <ul class="fl clearfix pic-list" id="pic-list-pictrue">
                </ul>
                <div id="upload-pictrue" class="upload-pic">
                    <i></i>
                </div>
                <div class="add-pic">最多3张图</div>
            </div>
            <div class="launch-btns-area">
                <a href="javascript:" class="back js-backToFirstStep">&lt; 返回</a>
                <a href="javascript:" class="complete-btn complete-launch" id="faqi-submit">下一步</a>
            </div>
        </form>
    </div>
</div>
<!--第二步  end-->